@using AphasiaClientApp.Models.Enums
@using AphasiaClientApp.Utils.Js.Sounds
@inject ISoundService Sound

@if (show)
{
    <div class="row justify-content-center margin-panel">
        @if (IndicateList.Any() || IndicateList != null)
        {
            <h3 class="exercise-title text-center" style="margin-bottom:10px;">
                @(IsPlayDesc() ? IndicateList.FirstOrDefault(x=>x.IsIndicate)?.Desctiption : "")
            </h3>
            @foreach (var item in IndicateList)
            {
                <div class="col-md-auto text-center">
                    <div class="card-frame @item.ColorIndicate" style="@ExecutePointerEvent" @onclick="()=>OnClickIndicate(item)">
                        <img class="exerciseTwoImg" src="@item.Picture[0]" />
                    </div>

                    <p></p>
                    <div class="oneline">
                        <ImageButtonModel TypeImage="@NaviTypeImage.Sound"
                              ButtonCallback="()=>OnPlaySound(item)" />
                        <TextFrame Text="@item.Word" />
                    </div>
                    <audio id=@item.Word src=@item.WordSound />
                    <audio id=@item.Desctiption src=@item.DescriptionSound/>
                </div>
            }
        }
    </div>
}
