@using AphasiaClientApp.Models.Enums

<div class="card grid-square" style="@Style" index="@Order" disabledCart=@Disabled exId=@UserExId @onclick=change>
    <div class="mini-circle">
        <div class="center">
            <div class="text-style">
                @Order
            </div>
        </div>
    </div>
    <div class="center">
        <div class="circle">
            <div class="center">
               <img src="@ImageUrl" class="position-center" style="max-width:120px; max-height:120px;" alt="..." />
            </div>
        </div>
    </div>
    <div class="center">
        <div class="text-style">
            @ExName
        </div>
    </div>
    <p>

        <div class="text-style" style="margin-left:5px;" >
            <ImageButtonModel ButtonCallback=ButtonCallback
                              Id="RedirectToPhase"
                              ExerciseId ="@UserExId"
                              ImageButtonType=ImageButtonTypes.ButtonRedirectToExPhases
                              TypeImage=NaviTypeImage.Settings
                              SetType=".ic-light-color"
                              SetStyle="background:white"/>
                              

            @for (int i = 0; i < maxMark; i++)
            {
                <span style="@isFirstElement(i)" class="bi bi-star-fill @isChecked(i)"></span>
            }
        </div>
    </p>
</div>

        