<div class="col d-flex justify-content-center">
    <div class="card text-center border-0">
        <div class="card-body text-center" onclick="@ClickCallback" style="cursor:pointer;">
            @if (IsVertical)
            {
                <div class="col d-flex">
                    <button class="btn-nav-exercise"><img src="@_imageUrl" class="image-centering" style="width:auto;height:auto;" alt="..." /></button>
                    <div class="text-navi-card-vert" style="margin-left:15px;">@Title</div>
                </div>
            }
            else
            {
                <div class="circle-custom">
                    <div class="text-center">
                        <button class="btn-nav-exercise">  <img src="@_imageUrl" class="image-centering" style="width:auto;height:auto;" alt="..." /></button>
                    </div>
                </div>
                <div class="text-navi-card">@Title</div>
            }

        </div>
    </div>
</div>
