@page "/choiceAphasiaExercise/{AphasiaTypeId}"
@page "/exercisePreview/{id:int}/{type:int}"
@using Models.Enums
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager

<div class="container">
    <div class="row justify-content-center">
        <p class="text-TitleDark" style="margin-top:80px; margin-bottom:40px;">
            Wybierz zestaw ćwiczeń
        </p>
        @if (exerciseNameList != null)
        {
            int index = 0;
            foreach (var item in exerciseNameList.GetRange((PageIndex - 1) * PageElements, MaxCountPagination == PageIndex ? (int)((((float)exerciseNameList.Count() / PageElements) % 1) * PageElements) : PageElements))
            {
                if((Id !=0 && Type != 0))
                {
                    <AphasiaClientApp.Components.Cards.TaskCardModel Title="@item.Name"
                                                         ImageUrl="@item.ImageSrc"
                                                         Url="@($"/exercises/main_panel/exerciseView/{Id}/{exIndexes[index]}")" />
                    //todo Tomek idUsera po logowaniu
                }
                else
                {
                     <AphasiaClientApp.Components.Cards.TaskCardModel Title="@item.Name"
                                                         ImageUrl="@item.ImageSrc"
                                                      Url="@($"/exercises/main_panel/{item.Id}/{0}")" />
                }
               
                //todo Tomek idUsera po logowaniu
                index++;
            }
        }
    </div>

    <div class="row justify-content-center" style="margin-top:90px; margin-bottom:100px;">
        <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonNonFrame
                          TypeImage=NaviTypeImage.LeftNaviArrow
                          IsDisabled=false
                          SetStyle=@style
                          ButtonCallback="()=>LeftMove_Click()" />

        @foreach (var item in quantityList)
        {
            <PaginationButtonModel Value=item.PageIndex SetStyle=@style IsActive=item.IsCurrent ButtonCallback="()=>Page_Click(item)" />
        }

        <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonNonFrame
                          TypeImage=NaviTypeImage.RightNaviArrow
                          IsDisabled=false SetStyle=@style
                          ButtonCallback="()=>RightMove_Click()" />
    </div>

</div>

<AphasiaClientApp.Components.Modals.LoadModals.LoadingDialogModel @ref="@dialogLoad"/>
