@using Models.Enums

@switch (ButtonTypes)
{
    case ButtonTypes.ButtonLgLightResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-clight btn-large" type="@Type">
                <div class="text-lg text-cdark">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ButtonLgLight:
        <button @onclick="ButtonCallback" class="btn btn-clight btn-large" type="@Type">
            <div class="text-lg text-cdark">
                @Text
            </div>
        </button>
        break;
    case ButtonTypes.ButtonLgDarkResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-large" type="@Type">
                <div class="text-lg text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ButtonLgDark:
        <button @onclick="ButtonCallback" class="btn btn-cdark btn-large" type="@Type">
            <div class="text-center text-lg text-clight">
                @Text
            </div>
        </button>
        break;
    case ButtonTypes.ButtonSmLDark:
        <button @onclick="ButtonCallback" class="btn btn-cdark btn-small" type="@Type">
            <div class="text-center text-sm text-clight">
                @Text
            </div>
        </button>
        break;
    case ButtonTypes.ButtonSmLDarkResponvie:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-small" type="@Type">
                <div class="text-center text-sm text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ButtonHgWhiteResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-clight btn-huge" type="@Type">
                <div class="text-center text-hg text-cdark">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ButtonHgWhiteBorderResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-huge" type="@Type">
                <div class="text-center text-hg text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ImageButtonSmLightResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-clight btn-small" type="@Type">
                <img src="@UrlImage" width="32" height="32" align="left" />
                <div class="text-center text-sm text-cdark">
                    @Text
                </div>
            </button>
        </div>
        break;
    case ButtonTypes.ImageButtonSmLight:
        <button @onclick="ButtonCallback" class="btn btn-clight btn-small" type="@Type">
            <img src="@UrlImage" width="32" height="32" align="left" style="margin-right:25px;" />
            <div class="text-center text-sm text-cdark">
                @Text
            </div>
        </button>
        break;
    case ButtonTypes.ButtonSmLightResponsive:
        <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-clight btn-small" type="@Type">
                <div class="text-center text-sm text-cdark">
                    @Text
                </div>
            </button>
        </div>
        break;

    case ButtonTypes.ButtonSmLDarkPDChangePassword:
      <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-small" type="@Type"data-toggle="modal" data-target="#ChangePassword">
                <div class="text-center text-sm text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;

  case ButtonTypes.ButtonSmLDarkPDResetPassword:
     <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-small" type="@Type"data-toggle="modal" data-target="#ResetPassword">
                <div class="text-center text-sm text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;

  case ButtonTypes.ButtonSmLDarkRemoveAccount:
      <div class="d-grid gap-2">
            <button @onclick="ButtonCallback" class="btn btn-cdark btn-small" type="@Type"data-toggle="modal" data-target="#RemoveAccount">
                <div class="text-center text-sm text-clight">
                    @Text
                </div>
            </button>
        </div>
        break;
}
