@using Models.Enums
@inject NavigationManager UriHelper;


@switch (ImageButtonType)
{
    case ImageButtonTypes.ButtonFrame:
        <button class="btn-ic @SetType @SetClickType" title="@Tip" id=@Id type="@Type" style="@SetStyle" @onclick=ButtonCallback>
            <img src="@ImageSrc" width=28 height=27 alt="..." />
        </button>
        break;
    case ImageButtonTypes.ButtonNonFrame:
        <button class="btn-nf @SetType" type="@Type" style="@SetStyle" @onclick=ButtonCallback>
            <img src="@ImageSrc" style="max-width:34px;max-height:34px;" alt="..." />
        </button>

        break;
    case ImageButtonTypes.ButtonRemovePatient:
        <button class="btn-nf @SetType" type="@Type" style="@SetStyle" title="Usuń Pacjenta" @onclick="()=>removePatientModal.Show()">
            <img src="@ImageSrc" style="max-width:34px;max-height:34px;" alt="..." />
        </button>

        <AphasiaClientApp.Components.Modals.Management.RemovePatientModal @ref="@removePatientModal" />
        break;

    case ImageButtonTypes.ButtonRedirectPaitent:
        <button class="btn-ic @SetType" title="Terapia" type="@Type" style="@SetStyle" @onclick=RedirectToPatientExcercisePage>
            <img src="@ImageSrc" width=28 height=27 alt="..." />
        </button>
        break;
        case ImageButtonTypes.ButtonRedirectToExPhases:
        <button class="btn-ic @SetType" type="@Type" title="Szczegóły ćwiczenia" style="@SetStyle" @onclick=RedirectToExPhase>
            <img src="@ImageSrc" width=28 height=27 alt="..." />
        </button>
        break;
    case ImageButtonTypes.ButtonRedirectPaitentToDetails:
        <button class="btn-ic @SetType" type="@Type" title="Dane Pacjenta" style="@SetStyle" @onclick=RedirectToPatientDetailsPage>
            <img src="@ImageSrc" width=28 height=27 alt="..." />
        </button>
        break;
    default:
        break;
}

