

<div class="switch-container" phaseId = "@PhaseId" isAvaible="@IsActivated">
<p class="phase-name">@PhaseName</p>
    @if(IsActivated == "True")
    {
        <input type="checkbox" id="@PhaseName" name="@PhaseName" title="@Description" @onclick=change/>
    }
    else
    {
        <input type="checkbox" id="@PhaseName" name="@PhaseName" title="@Description" checked @onclick=change/>
    }

<label for="@PhaseName" title="@Description" >Toggle</label>
</div>
