@page "/exercises/main_panel/{id:int}"
@using AphasiaClientApp.Extensions.Navigation
@using AphasiaClientApp.Models.Constant
@using AphasiaClientApp.Utils.Js.Sounds
@using Models.Enums
@inject IJSRuntime JsRuntime
@inject ISoundService SoundService
@inject Navigation Navigation

<style>
    .navbar {
        display: none !important;
    }
</style>

<div class="nav-exercises">
    <div class="container">
        <div class="row">
            <div class="col d-flex col-4">
                <div class="col col-pos">
                    <NaviCardExercise Title="zamknij zestaw"
                                      NaviType="@NaviTypeImage.Close"
                                      ClickCallback="()=>(dialogExit.Show())" />
                </div>
                <div class="col col-pos">
                    <NaviCardExercise Title="Cofnij"
                                      NaviType="@NaviTypeImage.Back"
                                      ClickCallback="Back" />
                </div>

            </div>
            <div class="col-4 d-flex">
                <CenterNaviCardModel TitleExercise="@Exercise?.ExerciseInformation.Name"
                                     TypeTitleExercise="@(goNext?GoNext.MoveOn() : ExercisePhaseCurrent?.KindName)"
                                     ListenCommandSrc="@(goNext?GoNext.GoNextSrc() : ExercisePhaseCurrent?.SoundSrc)"
                                     ShowHelper="ExercisePhaseCurrent!=null?(bool)ExercisePhaseCurrent.IsHelper : false"
                                     HelperCallback="OnHelperClick" />
            </div>
            <div class="col-4 d-flex">
                <div class="col col-pos">
                    <NaviCardExercise Title="Powtórz"
                                      NaviType="@NaviTypeImage.Refresh"
                                      ClickCallback="Refresh" />
                </div>
                <div class="col col-pos">
                    <NaviCardExercise Title="Dalej"
                                      NaviType="@NaviTypeImage.Next"
                                      ClickCallback="Next" />
                </div>
            </div>
        </div>
    </div>
</div>



<CascadingValue Value="this">
    <PanelOption1 @ref="@panelOption1" Counter=@Counter
                  PlaySound=@playSound
                  NextCallback=@OnGoNext />
    <PanelIndicate @ref=@panelIndicate Counter=@Counter
                   PlaySound=@playSound
                   HistoryDetails=@HistoryResultDetails
                   IndicateCallback=@OnGoNext />
    <PanelFilm @ref=@panelFilm Counter=@Counter
               PlaySound=@playSound />
    <PanelEnumeration @ref=@panelEnumeration
                      Counter=@Counter
                      EnumerationCallback=@OnGoNext
                      HistoryDetails=@HistoryResultDetails
                      Cts=@cts
                      CancelCallback=@OnCancel />
    <PanelMatch @ref=@panelMatch
                Counter=@Counter
                PlaySound=@playSound
                MatchCallback=@OnGoNext
                HistoryDetails=@HistoryResultDetails />
    <PanelMusic @ref=@panelMusic
                Counter=@Counter
                NextCallback=@OnGoNext
                Cts=@cts
                HistoryDetails=@HistoryResultDetails />
    <PanelFindPairGame @ref=@panelFindPairGame NextCallback=@OnGoNext />
    <PanelOption2 @ref=@panelOption2
                  NextCallback=@OnGoNext />

</CascadingValue>


@*<ExerciseProgressbar CurrentTask=@counter MaxTask=@maxCounter/>*@

<ExerciseFooter Exercise=@Exercise
                EventCallback=@OnFooterAction />

<LoadingDialogModel @ref="@dialogLoad" />
<CloseExercisesModal @ref="@dialogExit"
                     OnClose="OnCloseExerciseDialog" />