@page "/yourPersonalDataPanel"
@using Models.Enums
@inject NavigationManager UriHelper

<div class="field-body" style="margin-top:50px; margin-bottom:60px;">
    <div class="card card-l border-0">
        <div class="text-card-title text-center">Edytuj Twoje Konto</div>
            <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="email" class="form-label text-start"><b>E-mail</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="email" placeholder="Email" value="@PersonalDataDto.Email"  class="form-control" />
                    </div>
                </div>
            </div>
             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="phonenumber" class="form-label text-start"><b>Numer Telefonu</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="phonenumber" placeholder="Numer Telefonu" value="@PersonalDataDto.PhoneNumber"  class="form-control" />
                    </div>
                </div>
            </div>

              <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="street" class="form-label text-start"><b>Ulica</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="street" placeholder="Ulica" value="@PersonalDataDto.Street" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="houseNbr" class="form-label text-start"><b>Numer Budynku</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="houseNbr" placeholder="Numer Budynku" value="@PersonalDataDto.HouseNbr" class="form-control" />
                    </div>
                </div>
            </div>


             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="postalCode" class="form-label text-start"><b>Kod Pocztowy</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="postalCode" placeholder="Kod Pocztowy" value="@PersonalDataDto.PostalCode"  class="form-control" />
                    </div>
                </div>
            </div>

             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="city" class="form-label text-start"><b>Miasto</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="city" placeholder="Miasto" value="@PersonalDataDto.City"  class="form-control" />
                    </div>
                </div>
            </div>
         
          <div class="positioner">
                <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkResponvie" Id="personaldDataSumbit"  Text="Zapisz" />
            </div>
           <div class="text-card-title text-center">Dodatkowe: </div>
         <div class="positioner">
           <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkPDChangePassword" Text="Zmien Hasło" ButtonCallback=ButtonNavigationToChangePassword/>
           <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkRemoveAccount" Text="Usun Konto"/>
         </div>
    </div>
</div>
